@charset "UTF-8";
/*----------------------
        PATRON DE COLORES
//-------------------------------------*/
/*++++++++++++++estilos de pruva´´´++++*/
* {
  text-transform: initial; }

.container {
  border: 2px solid red; }

.row {
  border: 2px solid PINK; }

.row > * {
  border: 1px solid orange; }
